# Ignore the Maven target directory where build files are stored
target/

# Ignore the effective-pom.xml file
effective-pom.xml

# Ignore all log files
*.log

# Ignore all temporary files
*.tmp

# Ignore all compiled class files
*.class

# Ignore the bin directory
bin/
